@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body, html {
	
}
body {
	background-color:#CCC;
}
#nav-wrapper-outter {
	width:100%;
}
#nav-wrapper-inner {
	float:left; 
	width:70px; 
	height:100vh;
}
#nav {
	width:70px;
	height:100%;
	overflow:scroll;
	background-image: url(img/bg.png);
	border-right: solid 1px #000;
	box-shadow:1px 0 4px #000;
	position:absolute;
	z-index:1;
	/*display:inline;
	float:left;*/
	
}
nav ul {
	list-style-type: none;
}
nav li {
	height:70px;
	width:70px;
	background-repeat:repeat;
/*	border-bottom:solid 1px #000;
	border-top: solid 1px #333;*/		
}
#border-btm {
	width:70px;
	height:1px;
	background-color:#333;
}
#border-top {
	width:70px;
	height:1px;
	background-color:#000;
}
nav a {
	text-decoration:none;
}
.icon {
	background-position:center;
	background-repeat: no-repeat;
}
#s-sab {
	background-image:url(img/sab-icon.png)/*, url(img/bg.png)*/;
}
#s-sb {
	background-image:url(img/sb-icon.png);
}
#s-cp {
	background-image:url(img/cp-icon.png);
}
#s-settings {
	background-image:url(img/cog.png);
}
#s-hp {
	background-image:url(img/hp-icon.png);
}
#s-mc {
	background-image:url(img/mc-icon.png);
}
.active-nav {
	background-color:#2E2F2F;
	border-left:4px solid #639DF3;	
}
#active {
	width:4px;
	height:71px;
	position:absolute;
	background-color:#639DF3;
	left:0;
	z-index:2;
}
.act-btn-1 {
	top:0px;
}
.act-btn-2 {
	top:72px;
}
.act-btn-3 {
	top:144px;
}
.act-btn-4 {
	top:216px;
}
.act-btn-5 {
	top:288px;
}
.act-settings-btn {
	top:360px;
}
.iframe-wrapper {
	/*width:1209px;
	height:611px;*/
	width:100%;
	height:100%;
	display:inline;
	vertical-align: top
}
#settings-win {
}
.none {
	display:none;
}
#form-wrapper {
	width:600px;
	height:auto;
	margin:auto;
}
fieldset {
	border:none;
	margin-bottom:10px;
}


/*----------------------------form-----------------------------*/
.form {
	width:400px; 
	height:33px;
	border-radius:4px; 
	border:solid 1px #999; 
	padding-left:10px;
	font-family: Helvetica, Arial Lucida Grande;
	font-size:14px;
}

.login-form-input {
	width:250px !important;
	display:block;
	margin:0 auto 0 auto;
	margin-top:5px;
}
.post-form select, .account-form select, .login-form select {
	outline:none;
}
#basicStepForm input, .account-form input, .login-form input {
	outline:none;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}

.post-form input:focus, .account-form input:focus, .login-form input:focus {
	box-shadow:0 0 4px #2B64BB;
	-moz-box-shadow:0 0 4px #2B64BB;
	-ms-box-shadow:0 0 4px #2B64BB;
	-o-box-shadow:0 0 4px #2B64BB;
	-webkit-box-shadow:0 0 4px #2B64BB;
}
textarea {
	outline:none;
	padding-top:5px;
	padding-bottom:5px;
}

.post-form textarea, .account-form textarea, .login-form textarea {
	outline:none;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}
.post-form textarea:focus, .account-form, .login-form textarea:focus {
	box-shadow:0 0 4px #2B64BB;
	-moz-box-shadow:0 0 4px #2B64BB;
	-ms-box-shadow:0 0 4px #2B64BB;
	-o-box-shadow:0 0 4px #2B64BB;
	-webkit-box-shadow:0 0 4px #2B64BB;
}

