@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body, html {
	
}
body {
	background-color:#CCC;
}
#nav-wrapper-outter {
	width:100%;
}
#nav-wrapper-inner {
	float:left; 
	width:70px; 
	height:100vh;
}
#nav {
	width:70px;
	height:100%;
	overflow:scroll;
	background-image: url(img/bg.png);
	border-right: solid 1px #000;
	box-shadow:1px 0 4px #000;
	position:absolute;
	z-index:1;
	/*display:inline;
	float:left;*/
	
}
nav ul {
	list-style-type: none;
}
nav li {
	height:70px;
	width:70px;
	background-repeat:repeat;
/*	border-bottom:solid 1px #000;
	border-top: solid 1px #333;*/		
}
#border-btm {
	width:70px;
	height:1px;
	background-color:#333;
}
#border-top {
	width:70px;
	height:1px;
	background-color:#000;
}
nav a {
	text-decoration:none;
}
.icon {
	background-position:center;
	background-repeat: no-repeat;
}
#s-sab {
	/*, url(img/bg.png)*/;
}
#s-sb {
}
#s-cp {
}
#s-hp {
}
#s-mc {
}
#s-settings {
	background-image:url(img/cog.png);
}
.active-nav {
	background-color:#2E2F2F;
	border-left:4px solid #639DF3;
	width:66px !important;
}
#content-window {
	overflow: hidden; 
	background-color:#CCC; 
	height:100vh;
}
.iframe-wrapper {
	width:100%;
	height:100%;
}
#settings-win {
}
.none {
	display:none;
}
#form-wrapper {
	width:600px;
	height:auto;
	margin:auto;
}
fieldset {
	border:none;
	margin-bottom:10px;
}
#reload-btn {
	width:20px;
	height:20px;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	margin-top:3px;
	background-image:url(img/reload-icon.png);
}
#reload-btn:hover {
	background-image:url(img/reload-icon2.png);
}
/*----------------------------form-----------------------------*/
/*.form {
	width:400px; 
	height:33px;
	border-radius:4px; 
	border:solid 1px #999; 
	padding-left:10px;
	font-family: Helvetica, Arial Lucida Grande;
	font-size:14px;
}

.login-form-input {
	width:250px !important;
	display:block;
	margin:0 auto 0 auto;
	margin-top:5px;
}*/
select {
	outline:none;
}
input {
	outline:none;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}

input:focus {
	box-shadow:0 0 4px #2B64BB;
	-moz-box-shadow:0 0 4px #2B64BB;
	-ms-box-shadow:0 0 4px #2B64BB;
	-o-box-shadow:0 0 4px #2B64BB;
	-webkit-box-shadow:0 0 4px #2B64BB;
}
textarea {
	outline:none;
	padding-top:5px;
	padding-bottom:5px;
}

textarea {
	outline:none;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}
textarea:focus {
	box-shadow:0 0 4px #2B64BB;
	-moz-box-shadow:0 0 4px #2B64BB;
	-ms-box-shadow:0 0 4px #2B64BB;
	-o-box-shadow:0 0 4px #2B64BB;
	-webkit-box-shadow:0 0 4px #2B64BB;
}

